$tablet:"screen and (min-width: 600px)";


@media #{$tablet} {

  button{
    width:12%;
  }

  #beskrivelse,#pris{
    margin-top:5%;
  }

  .GridBody{
    display:grid;
    grid-template-columns:1fr 1fr;

    .container{
      grid-column:1/-1;
    }

    h4{
      @include Font(40px,#707070,italic);
      margin-top:5%;
      grid-column:1/-1;

      &:nth-of-type(2){
        margin-top:10%;
      }
    }

    .Knap{
      width:80%;
      grid-column: auto;
      @include Font(25px,#fff,italic);
      margin-top:10%;
    }

    .Knap:hover{
      background-color: $PrimColor;
      color:$bkgColor;
    }

    .Knap:nth-last-child(1){
      margin-bottom:0;
    }

    img{
      grid-column:1/-1;
      width:75%;
      justify-self:center;
      margin-top:10%;

      &:nth-of-type(2){
        margin-bottom:20%;
      }
    }

    #TopBar{
      background-color:$PrimColor;
      padding:2% 0;
      box-shadow:#000000 0 1px 10px;
      grid-column:1/-1;

      h3{
        font-size:40px;
        color:white;
        @include Font(40px,#fff,bold);
      }
    }

    form{
      margin-top:5%;


      input,textarea{
        font-size:24px;
      }

      input{
        border-radius:10px;

        &:nth-of-type(2){
          margin-bottom:20%;
        }
      }

      label{
        font-family: Montserrat;
        font-size:40px;
        text-align:center;
        margin-bottom:5%;
      }
    }

  }
}