$desktop:"screen and (min-width: 1000px)";

@media #{$desktop} {

  button{
    width:37%;
    margin-left:4%;
  }

  #beskrivelse,#pris{
    margin-top:5%;
  }

  .GridBody{
    display:grid;
    grid-template-columns:0.3fr 1fr;

    .container{
      display:grid;
      grid-column:2/3;
      grid-template-columns:1fr 1fr;
      justify-content:center;
      grid-template-rows:0.2fr 0.1fr 0.1fr;
    }

    h4{
      @include Font(40px,#707070,italic);
      margin-top:0;
      grid-column:1/-1;

      &:nth-of-type(2){
        margin-top:5%;
      }
    }

    .Knap{
      width:80%;
      grid-column: auto;
      @include Font(25px,#PrimColor,italic);
      margin-top:10%;
      height:50px;
    }

    .Knap:hover{
      background-color: $PrimColor;
      color:$bkgColor;
    }

    img{
      grid-column:1/-1;
      width:60%;
      justify-self:center;
      margin-top:5%;

      &:nth-of-type(2){
        margin-bottom:0;
      }

    }

    #TopBar{
      background-color:$PrimColor;
      padding:2% 0;
      box-shadow:#000000 0 1px 10px;
      grid-column:1/2;

      h3{
        padding:4% 0;
        @include Font(24px,#fff,bold);
      }
    }

    form{
      margin-top:0;


      input,textarea{
        font-size:24px;
      }

      input{
        border-radius:10px;

        &:nth-of-type(2){
          margin-bottom:0;
        }
      }

      label{
        @include Font(40px,#000,normal);
        margin-bottom:5%;
      }
    }

  }
}