$tablet:"screen and (min-width: 600px)";

$desktop:"screen and (min-width: 1000px)";


$bkgColor:#ffff;

$PrimColor:#1ABC9C;

$NavButton:18%;

nav{
  display:flex;
  justify-content:space-evenly;
  width:100%;
  bottom:0;
  box-shadow:$PrimColor 0 0 12px;
  position:fixed;
  padding:4% 0;
  background-color:$bkgColor;

  a{
    width:$NavButton;
    &:nth-child(n+2){
      filter:grayscale(100%);
    }
    img{
      width: 100% !important;;
    }
  }
}

@media #{$tablet} {
  nav {
    display: flex;
    justify-content: space-around;
    padding: 2% 0;

    a {
      width: $NavButton/1.2;

      img {
        width: 100% !important;;
      }
    }
  }
}

@media #{$desktop} {
  nav {
    display: flex;
    justify-content:start;
    flex-direction: column;
    padding: 2% 0;
    grid-column:1/2;
    position:static;
    height:100vh;

    a {
      width:$NavButton*1.15;
      margin-bottom:25%;
      margin-left:5%;

      img {
        width: 100% !important;;
      }
    }
  }
}